:root {
    --cor-fundo:  #E0B084;
    --cor-texto:  #3D2B1F;
}

.cabecalho{
    background-color: #E0B084;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid rgba(61,43,31,.2);
}

.logo{
    position: absolute;
    left: 20px;
    width: 150px;
    height: auto;
}

.navegacao{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navegacao a{
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 18px;
    font-weight: bold;
}

.navegacao a:hover{
    background-color: var(--cor-fundo);
    color: white !important;
}

.btn{
    background-color: #3D2B1F;
    color: var(--cor-texto) !important;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .3s;
    gap: 35px;
}

.btn:hover{
    background-color: #8B4513;
    color: white !important;
    transform: translateY(-2px);
}

.receitas {
    background-color: #F7E7CE;
    text-align: center;
    padding: 20px;
}

.container-imagens {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px; 
}

.imagens {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.btn {
    display:flex;
    padding: 10px;
    background-color: var(--cor-fundo);
    color: black;
    cursor: pointer;
    justify-content: end;
}